<?xml version="1.0"?>
<!-- DoneLogic/Gate/etc/acl.xml -->
<!-- @author John Wenzel johngwenzel@gmail.com -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="DoneLogic_Gate::gate" title="DoneLogic Gate" sortOrder="51">
                    <resource id="DoneLogic_Gate::vendor" title="Vendors" sortOrder="10"/>
                    <resource id="DoneLogic_Gate::gate_configuration" title="DoneLogic Gate Configuration" sortOrder="99" />
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="DoneLogic_Gate::gate_config" title="DoneLogic Gate Config"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>