<?xml version="1.0"?>
<!-- DoneLogic/Gtag/etc/adminhtml/routes.xml -->
<!-- @author John Wenzel johngwenzel@gmail.com -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="gtag" frontName="gtag">
            <module name="DoneLogic_Gtag"/>
        </route>
    </router>
</config>
